<h2>Productos</h2>
<hr>
<ul>
        {{#each resultado}}
            <li>
                {{id}} - titulo: <strong>{{title}}</strong> - descripcion: <strong>{{description}}</strong> - codigo: <strong>{{code}}</strong> - precio: <strong>{{price}}</strong>
            </li>
        {{/each}}
</ul>